{% extends "base.html" %}

{%block title%} result {%endblock%}

{% block content %}

<div>
  
  <p>
  <div class="card flex-row flex-wrap">

  {% for result in results %}
   <div class="card" style="width: 20rem;">
   <a href="/view/{{result.id}}" target="_blank">

      <img class="card-img-top" 
      src="/uploads/{{result.images.all.first.image}}" 
      alt="Card image cap" height="200"
      target="_blank">
      </a>
  <div class="card-body">
          <p class="card-text">
  <h3><a href="/view/{{result.id}}" target="_blank">{{result.name}}</a></h3>


  {{result.preamble|safe}}

  <br>
 
 
  </p>
       </div>
    </div>
  {%endfor%}
 </div>
  </p>
</div>

{% endblock %}
